div.puzzle-field {
    outline: 1px solid black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
    align-self: center;
    font-size: 200%;
}

div.board {
    display: grid;
    grid-gap: 0px;
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;
    margin-right: -24px;
}

div.highlight {
    background-color: rgba(201, 204, 12, 0.582);
}

div.selected {
    background-color: rgba(83, 133, 177, 0.616);
}

div.black {
    background-color: black;
    color: black;
    -webkit-print-color-adjust: exact;
}

div.hide-char span.char {
    color: white;
    display: none;
}

div.hide-char.black {
    color: black;
}

div.puzzle-field.solution-circle {
    border: 1px solid blue;
    border-radius: 50%;
}