<!doctype html>
<html lang="en">

<head id="headers">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <title>XWord</title>
</head>

<body>
    <div class="container">
        <h1>XWordCreater</h1>
        <p>Online Users: <span id="online-users">0</span></p>

        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-3 d-grid mx-auto">
                        <button type="button" id="blackbutton" disabled class="btn btn-dark" onclick="fillBlack()">Fill
                            Black</button>
                    </div>
                    <div class="col-3 d-grid mx-auto">
                        <button type="button" id="circlebutton" disabled class="btn btn-primary"
                            onclick="addSolutionCircle()">Add Circle</button>
                    </div>
                    <div class="col-3 d-grid mx-auto">
                        <button type="button" id="removenumber" disabled class="btn btn-primary"
                            onclick="removeNumber()">Remove Number</button>
                    </div>
                    <div class="col-3 d-grid mx-auto">
                        <button type="button" id="buchstabenCom" disabled class="btn btn-primary"
                            onclick="openBuchstabenCom()">Search Buchstaben.com</button>
                    </div>
                </div>
                <div id="print">
                    <div class="board" id="board"></div>
                </div>
            </div>
            <div class="col-xl-2">
                <button type="button" class="btn btn-info" onclick="exportBoard()">Export Board</button>
                <button type="button" class="btn btn-info" onclick="importBoard()">Import Board</button>

                <button type="button" class="btn btn-primary" onclick="renderPdf('solution')">Render Solution</button>
                <button type="button" class="btn btn-primary" onclick="renderPdf('empty')">Render Empty</button>
                <br />
                <button type="button" class="btn btn-primary" onclick="serverStore()">Server store puzzle</button>
                <button type="button" class="btn btn-primary" onclick="serverLoad()">Server load puzzle</button>
                <button type="button" class="btn btn-primary" onclick="recomputeNumbers()">Recompute Numbers</button>
            </div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/main.js"></script>
    <script id="key-checker"></script>

</html>